.row {
        border: 1px solid black;
        display: flex;
        flex-direction: row;

}

.jumbotron{
        text-align: center;
}

.time-block {
        color: red;
        text-align: center;
        margin-top: 25px;
        margin: auto;      
}

.time {
        margin-top: 15px;
}

.address-card {
        size:80px;
}

.footer {
        text-align: center;
        color: blue;
        padding: 35px;
        background-color: skyblue;
}

#lastcontainer {
    margin-bottom: 35px; 
}