.row {
        border: 1px solid black;
        display: flex;
        flex-direction: row;

}

.jumbotron{
        text-align: center;
        background-color: rgb(111, 128, 136);
        color: lightblue;
}

body {
        background-color: lightcyan;
}

.time-block {
        color: red;
        text-align: center;
        margin-top: 25px;
        margin: auto;      
}

.time {
        margin-top: 25px;
}
/*.hour {
        background-color: oldlace;
}*/ 

.description {
        background-color: oldlace;
}


.btn {
        background-color: lightsalmon;
        box-shadow: 0 12px 16px 0;        
}


.saveBtn{
        border: 2px solid black;        
}


.address-card {
        size:80px;
}

.footer {
        text-align: center;
        color:lightblue;
        padding: 35px;
        background-color: rgb(111, 128, 136);
}

#hour-8 {
    margin-bottom: 35px; 
}

::placeholder {
        text-align: center;
        padding-top: 25px;
}

input {
        text-align: center
      }

.row {
        height: 75px;
}
.past {
        background-color: magenta;
}
.present {
        background-color: mediumslateblue;
}
.future {
        background-color: limegreen;
}