.row {
        border: 1px solid black;
        display: flex;
        flex-direction: row;

}

.jumbotron{
        text-align: center;
        background-color: rgb(111, 128, 136);
        color: lightblue;
}

.time-block {
        color: red;
        text-align: center;
        margin-top: 25px;
        margin: auto;      
}

.time {
        margin-top: 25px;
}

.address-card {
        size:80px;
}

.footer {
        text-align: center;
        color:lightblue;
        padding: 35px;
        background-color: rgb(111, 128, 136);
        font-style: ;
}

#lastcontainer {
    margin-bottom: 35px; 
}

::placeholder {
        text-align: center;
        padding-top: 25px;
}

.row {
        height: 75px;
}